@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgb(34, 40, 49);
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


div.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

div.introduction h1 {
    font-weight: 300;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

div.introduction h5 {
    font-weight: 200;
}

div.introduction a {
    color:rgb(57, 62, 70);
    font-weight: 700;
    font-size: 16px;
    margin: 20px;
    padding: 12px;
    background-color: greenyellow;
    border-radius: 15px;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

  .fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar {
    background-color: rgb(255, 211, 105);
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar h1 {
    background-color: rgb(255, 211, 105);
  }

  .navbar ul {
    display: flex;
    border-radius: 12px;
  }
  .navbar ul li a:hover {
    color: rgb(255, 211, 105);
  }

  .navbar ul li {
    margin: 10px;
  } 

  div.container {
    background-color: rgb(57, 62, 70) ;
    display: flex;
    margin: 200px 200px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
  }

  div.container div.text h1 {
    background-color: rgb(57, 62, 70) ;
    font-size: 48px;
    text-align: center;
    padding: 24px 20px 0px;
  }

  div.container div.text h5 {
    background-color: rgb(57, 62, 70) ;
    text-align: center;
    padding: 0px 24px 0px;
  }

  div div h1 span{
    background-color: rgb(57, 62, 70) ;
    color: rgb(255, 211, 105);
  }

  img {
    padding: 24px;
    margin: 10px;
    background-color: rgb(57, 62, 70);
  }

  div.container-2 {
    border-radius: 20px;
    background-color: rgb(57, 62, 70);
    margin: 0px 200px 0px;
    padding: 50px 200px;
  }

  div.container-2 .text h1 {
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: 400;
    background-color: rgb(57, 62, 70);
  }

  div.container-2 .list {
    display: flex;
    margin: 60px;
    justify-content: space-around;
    background-color: rgb(57, 62, 70);
  }

  div.container-2 .list li {
    padding: 20px;
    background-color: rgb(57, 62, 70);
  }

  .skillbar {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
  }

  .skillbar .skillsHtml 
  {
    width: 20%;
    text-align: right; 
    padding: 5px 10px;
    color: white; 
  }
  .skillbar .skillsCss
  {
    width: 20%;
    text-align: right; 
    padding: 5px 10px;
    color: white; 
  }
  .skillbar .skillsJavascript 
  {
    width: 20%;
    text-align: right; 
    padding: 5px 10px;
    color: white; 
  }
  .skillbar .skillsGit
  {
    width: 70%;
    text-align: right; 
    padding: 5px 10px;
    color: white; 
  }
  .skillbar .skillsPhp
  {
    width: 20%;
    text-align: right; 
    padding: 5px 10px;
    color: white; 
  }

  .skillbar .skillsPython
  {
    width: 20%;
    text-align: right; 
    padding: 5px 10px;
    color: white; 
  }

  .skillbar .skillsReact
  {
    width: 20%;
    text-align: right; 
    padding: 5px 10px;
    color: white; 
  }
  .skillbar .skillsExpress
  {
    width: 20%;
    text-align: right; 
    padding: 5px 10px;
    color: white; 
  }
  .skillbar .skillsBlockchain
  {
    width: 40%;
    text-align: right; 
    padding: 5px 10px;
    color: white; 
  }

  div.container-3 {
    
    border-radius: 20px;
   
    margin: 200px 200px 0px;
    padding: 0px 200px;
  }


#ask-1 {
 
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
 
}
#ask-2 {

  display: flex;
  margin: 10px;
  justify-content: space-evenly;
 
}

#ask-3 {

  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

  .footer {
    margin-top: 100px;
    background-color: rgb(255, 211, 105); 
    padding: 50px;
  }

  .footer div.medsos {
    background-color:  rgb(255, 211, 105) ;
    padding: 0px 200px;
    margin: 0px 200px;
  }

  .footer div.medsos ul {
    background-color:  rgb(255, 211, 105);
    display: flex;
    justify-content: space-around;
    margin: 20px 200px;
  }
  .footer div.medsos h2 {
    background-color:  rgb(255, 211, 105);
    text-align: center;
    font-weight: 400;
  }

  p {
    background-color: rgb(255, 211, 105) ;
  }

  i {
    font-size: 50px;
    background-color: rgb(255, 211, 105) ;
    margin: 10px;
  }

  #text-icon {
    text-align: center;
    background-color: rgb(255, 211, 105) ;
  }

  #text-icon a {
    background-color: rgb(255, 211, 105) ;
  }

  section.container-blog {
      background-color: rgb(57, 62, 70);
      margin: 100px 200px 0px;
      padding: 24px 200px;
  }

  .project {
    background-color: rgb(57, 62, 70);
    display: flex;
    align-items: center;
    
  }

  .project a {
    background-color: rgb(57, 62, 70);
  }

  section.container-blog h1 {
    font-size: 36px;
}

  .project h2 {
    background-color: rgb(255, 211, 105) ;
    margin: 48px;
    padding: 20px;
    border-radius: 24px;
    font-weight: 400;
  }

  .project img {
    width: 60%;
  }

  hr.line {
    color: white;
    background-color: white;
   
  }

 


